<label [ngClass]="{ 'text-primary-700': !hasError, 'text-danger-500': hasError }" class="font-semibold">
  {{label}}<span *ngIf="required">*</span>
</label>
<input [type]="type"
       [name]="name"
       [(ngModel)]="value"
       [autocomplete]="autocomplete"
       class="w-full px-2 py-1 border rounded"
       [ngClass]="{ 'border-primary-700': !hasError, 'border-danger-500': hasError }"
       [disabled]="disabled"
       (input)="onInput($event)"
       (focusin)="onFocusIn()"
       (focusout)="onFocus()"
/>
<div class="errors leading-6 min-h-base">
  <ng-content select="[error]"></ng-content>
</div>
